@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
   font-family: "DM Sans", sans-serif;
   letter-spacing: .25px;
}
.active-tab::before,
.active-tab::after {
  content: "";
  position: absolute;
  right: 0;
  width: 20px;  /* adjust size */
  height: 20px; /* adjust size */
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 10;
}

.active-tab::before {
  background-image: url('/public/top_merger.svg'); /* set your before image */
  right: -1px;
  top: -20px;
}

.active-tab::after {
  background-image: url('/public/bottom_merger.svg'); /* set your after image */
  right: -1px; /* at the right edge */
  bottom: -20px;
}
